@model IEnumerable<GeekShopping.Web.Models.ProductModel>
<br>
<br>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Todos os Produtos</h1>
        </div>
        <div class="col text-end pt-1">
            <a  href="/create"class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Criar novo Produto
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            
                <th>Categoria</th>
    
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                <td>@item.Name</td>
                <td>@item.Category_name</td>
                <td>@((item.Price).ToString("c"))</td>
                <td>
                    <a asp-action="ProductUpdate" class="btn btn-success" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    @if(User.IsInRole("Admin")){
                    <a asp-action="ProductDelete" class="btn btn-danger" asp-route-id="@item.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>